<?xml version="1.0"?>
<launch>
<!-- =================方块================= -->
    <!-- 障碍物运动的中间位置 -->
    <rosparam param="/obs_poses">
        [   20.0,  3.75, 0.275,
            20.0,  3.75, 1.725,
            20.0, -0.85, 1.0,
            20.0,  3.75, 1.0,
            20.0,  8.35, 1.0,
            25.0,  9.0 , 0.9,
            25.0,  6.0 , 0.9,
            25.0,  0.0 , 0.9,
            23.0,  6.0 , 0.9,
            23.0,  3.0 , 0.9,
            22.0,  9.0 , 0.9,
            22.0,  7.0 , 0.9,
            22.0,  2.0 , 0.9,
            21.0,  6.0 , 0.9,
            24.0,  8.0 , 0.75,
            23.0,  0.0 , 0.75,
            -1.0,  0.0 , 0.9,
             0.0,  0.0,  0.0]
              <!--  -->
    </rosparam>
    <!-- 障碍物的尺寸 -->
    <rosparam param="/obs_sizes">
        [   0.1, 10.0, 0.55,
            0.1, 10.0, 0.55,
            0.1, 0.8,  0.9 ,
            0.1, 6.6,  0.9 ,
            0.1, 0.8,  0.9 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.8 ,
            0.6, 0.6,  1.5 ,
            0.6, 0.6,  1.5 ,
            0.6, 0.6,  1.8 ,
            100, 100,  0.1   ]
    </rosparam>
    <!-- 障碍物的速度 -->
    <rosparam param="/obs_velocities">
        [   0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.2, 0.0, 
            0.0, 0.2, 0.0,
            0.0, 0.0, 0.0,
            0.0, 0.0, 0.0 ]
    </rosparam>
    <!-- 障碍物的运动范围 -->
    <rosparam param="/moving_ranges">
        [ 5.0, 
          5.0,
          5.0, 
          5.0,
          5.0, 
          5.0,
          5.0, 
          5.0, 
          5.0, 
          5.0, 
          5.0, 
          5.0, 
          5.0,
          5.0,
          1.0,
          1.0,
          1.0,
          1.0]
    </rosparam>
<!-- =================圆环================= -->
    <!-- 圆环运动的中间位置 -->
    <rosparam param="/rings_poses">
        [   6.50,  0.3, 1.5,
            13.0,  0.2, 1.6,
            14.0,  7.5, 1.5,
            8.00,  7.5, 1.5,
            27.5, -0.2, 1.5,
            32.5,  3.5, 1.5,
            29.0,  3.5, 1.5,
            28.0,  7.5, 1.5,
            3.50,  7.5, 1.5   ]
    </rosparam>
    <!-- 圆环的尺寸：圆环的内径、外径、厚度 -->
    <rosparam param="/rings_sizes">
        [   1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1,
            1.0, 1.2, 0.1  ]
    </rosparam>
    <!-- 圆环的朝向：记为绕z轴的旋转 -->
    <rosparam param="/rings_directions">
    [ 0.0,
      0.0,
      0.0,
      0.0,
      0.3490658503988659,
      1.5707963267948966,
      1.5707963267948966,
     -0.3490658503988659,
      0.0 ]
    </rosparam>
    <!-- 圆环的运动速度 -->
    <rosparam param="/rings_velocities">
        [    0.0, 0.0, 0.0, 
             0.0, 0.0, 0.0,
             0.0, 0.5, 0.0,
             0.0, 0.0, 0.0,
             0.0, 0.0, 0.0,
             0.0, 0.0, 0.0,
             0.0, 0.0, 0.0,
             0.0, 0.0, 0.0,
             0.0, 0.0, 0.0  ]
    </rosparam>
    <!-- 圆环的运动范围 -->
    <rosparam param="/rings_ranges">
    [ 20.0,
      20.0,
       1.5,
      20.0,
      20.0,
      20.0,
      20.0,
      20.0,
      20.0 ]
    </rosparam>

    <!-- ===========仿真环境========== -->
    <node pkg="dynamic_env_generator" type="dynamic_env_generator" name="dynamic_env_generator" output = "screen">
        <!-- 栅格的分辨率 -->
        <param name="voxel_resolution" value="0.1"/>   
        <!-- 方块的数量 -->
        <param name="dynamic_obs_num" value="17" />
        <!-- 圆环的数量 -->
        <param name="rings_num" value="9"/>        
    </node>

</launch>
